@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Roboto, sans-serif;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
}
